.products {
    height: 100%;
    width: 100%;
    display: flex;
}

.products-filter-panel {
    width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.products-items {
    width: calc(100% - 270px);
    padding: 10px;
    overflow: auto;
}