.product-cateogory-item {
    padding: 10px;
    background: rgb(155,134,219,1);
    background: -moz-linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    background: linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4155ba",endColorstr="#9b86db",GradientType=1);
    color: #eeeeee;
    font-size: 14px;
    border-radius: 3px;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0 0 15px #00000033;
}

.product-cateogory-item:hover {
    filter: hue-rotate(40deg);
}