.products-table {
    width: 100%;
}

.thead-dark {
    background-color: rgb(72, 65, 89);
    color: #eee;
}

.thead-dark > tr > th {
    padding: 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}

.products-table > tbody > tr > td {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.products-table > tbody > tr:hover {
    background-color: rgba(150,150,150, 0.1);
}

.filter-order {
    position: absolute;
}

.asc {
    background-color: red;
}

.dsc {
    background-color: green;
}