.App {
    background-color: #eee;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4155ba",endColorstr="#9b86db",GradientType=1);
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}