.login-form {
    padding: 60px;
    background-color: #27272cdd;
    border-radius: 5px;
    transition: .2s;
    min-width: 300px;
}

.login-form > form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-form > h1 {
    text-align: center;
    text-transform: uppercase;
}

.login-form-label {
    width: 100%;
    margin: 10px 0;
}

.login-form-label label {
    display: block;
}

.login-form-label:last-child {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-form-label > input {
    padding: 10px 5px;
    width: 100%;
    margin: 3px 0;
}

.login-form-label > input:focus {
    outline: 2px solid green;
}