.login-form {
    padding: 60px;
    background-color: #27272cdd;
    border-radius: 5px;
    transition: .2s;
    min-width: 300px;
}

.login-form > form {
    width: 100%;
    margin: 0;
    padding: 0;
}

.login-form > h1 {
    text-align: center;
    text-transform: uppercase;
}

.login-form-label {
    width: 100%;
    margin: 10px 0;
}

.login-form-label label {
    display: block;
}

.login-form-label:last-child {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input {
    border-radius: 3px;
    padding: 10px 5px;
    width: 100%;
    margin: 3px 0;
    background-color: #1010112a;
    border: 2px solid #7b7ba82a;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #ddc6f3;
}

input:focus {
    outline: 2px solid green;
}

input[type=submit] {
    background: rgb(155,134,219,1);
    background: -moz-linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    background: linear-gradient(45deg, rgba(155,134,219,1) 0%, rgba(65,85,186,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4155ba",endColorstr="#9b86db",GradientType=1);
    border: none;
    color: #ddc6f3;
    text-shadow: 0px 0px 5px #111;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.1rcap;
    width: 50%;
    font-family:Arial, Helvetica, sans-serif;
}