.alert-container {
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding-top: 5px;
}

.error-alert button {
    padding: 5px 20px;
}

.alert {
    border: 1px solid black;
    border-radius: 3px;
    width: 98%;
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    z-index: 30;
}

.alert > .alert-close {
    cursor: pointer;
}

.alert-error {
    border: 1px solid #a70202;
    background-color: #e6afaf;
    color: #a70202;
}

.alert-success {
    border: 1px solid #02a702;
    background-color: #c3ffc3;
    color: #02a702;
}